// Definitions for the style.scss

$fonts: "OpenSansRegular", Helvetica, Arial, sans-serif;

// Main colors
$white: #FFF;
$white-dull: rgba(255, 255, 255, 0.8);
$white-verydull: rgba(255, 255, 255, 0.6);
$background: #252525;

// Special colors
$link: #6699FF;
$link-hover: #99CCFF;
$header: #353535;
$header-light: #575757;
$filename: #CC0000;
$command: #AADDFF;
$code-bg: #101010;
$table-border: #434343;
